/****common css start****/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ol, ul{
    list-style: none;
}
/****common css end****/

/****navbar css start****/

.wrap{
    float: left;
}
.wrap1{
    float: right;
    width: 900px;
    height: 578px;
    background-color: #734AE6;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 39% 50%, 0% 0%);
}
.menubar{
    margin-left: 20px;
}
.menubar h3{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 30px 10px 5px 20px;
}
.menubar h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0 10px 10px 15px;
}
.menubar p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 400px;
    height: 160px;
    margin: 0 0 10px 20px;
}
.wrap .button{
    font-size: 20px;
    display: flex;
    justify-content: left;
    margin: 40px 20px;
}
.button .save {
    font-size: 20px;
    padding: 7px 35px;
    border-radius: 15px;
}
.logo a{
    color: #734AE6;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 122px;
    height: 30px;
}
.logo{
    margin: 30px 22px;
}
.menu ul li{
    display: inline-block;
    padding: 18px 0;
}
.menu ul li a{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 30px 45px;
}
.menu ul li i{
    font-size: 25px;
}
.menubar .icon{
    width: 37px;
    height: 32px;
    display: flex;
    margin: 0 0 20px 10px;
}
.icon a i{
    font-size: 20px;
    border: 2px solid #734AE6;
    border-radius: 50%;
    padding: 7px 8px;
    margin: 7px;
}
.menu{
    float: right;
}
.pic img{
    width: 320px;
    height: 433px;
    float: right;
    margin: 70px 40px;
}

/****navbar css end****/

/****about us css start****/
.about-bg{
    padding-top: 80px;
    width: 100%;
    display: flex;
    column-gap: 12px;
    justify-content: center;
}
.about img{
    width: 347px;
    height: 421px;
    margin: 38px 7px 104px 11px;
    padding-left: 8px;
}
.head h6{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 71px 0 18px 0;
}
.head span{
    color: #734AE6;
    margin: 0 12px;
}
.about2{
    width: 495px;
    height: 326px;
    float: right;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 14px 130px 19px 0;
}
.about2 .para1 p{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 19px;
}
.about2 .para2 p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
}  
.button .btn{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #734AE6;
    color: #ffffff;
    padding: 9px 22px;
    border-radius: 5px;
}

.head h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 71px 0 18px 0;
}
.head span{
    color: #734AE6;
}
/****about us css end****/

/****service css start****/
.service-bg{
    margin: 100px 0 ;
}
.service{
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
.service .part{
    width: 275px;
    height: 320px;
    border-top: 10px solid #734AE6;
    border-bottom: 10px solid #734AE6;
    border-radius: 20px;

}
.part a i{
    font-size: 32px;
    margin: 30px 0 5px 120px;
}
.service .part h5{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 19px 0;
    text-align: center;
}
.service .part p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.part .button{
    margin-left: 68px;
    padding: 0 10px;
}
/****service css end****/

/****gallery css start****/
.gallery-bg{
    margin: 100px 0;
}
.gallery1, .gallery2{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding: 15px 0;
}
/****gallery css end****/

/****testimonial css start****/
.testimonial-bg{
    margin: 100px 0;
}
.testimonial{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 706px;
    height: 300px;
    border-top: 12px solid #734AE6;
    border-bottom: 12px solid #734AE6;
    border-left: 1px solid #734AE6;
    border-right: 1px solid #734AE6;
    border-radius: 20px;
    margin-left: 320px;
}
.testimonial .photo h3{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 10px 0 15px 0;
    color: #000000;
    text-align: center;
}
.testimonial .photo p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #000000;
    width: 630px;
    height: 80px;
    padding-bottom: 20px;
}
.photo img{
    margin: 10px 0 0 255px;
    border: 6px solid #ffffff;
    border-radius: 50%;
    outline: 6px solid #734AE6;
}
.testimonial a i{
    font-size: 90px;
    margin: 0 70px;
}
/****testimonial css end****/

/****contact css start****/
.contact-bg{
    margin: 100px 0;
}
.contact{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.form-group{
    display: flex;
}
.form-group input{
    width: 225px;
    height: 45px;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid #69696999;
    box-shadow: 0 4px 8px 0 rgba(110, 110, 110, 0.6), 0 6px 20px 0 rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
.form-group textarea{
    width: 531px;
    height: 168px;
    margin: 10px;
    padding: 5px 30px;
    border: 1px solid #69696999;
    box-shadow: 0 4px 8px 0 rgba(110, 110, 110, 0.6), 0 6px 20px 0 rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
::placeholder{
    color: #353535;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}
.contact .button{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.button .send{
    font-size: 20px;
    padding: 7px 35px;
    border-radius: 15px;
}
/****contact css end****/

/****footer css end****/
.footer-bg{
    margin: 20px 0;
}
.footer{
    background: #734AE6;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
}
.footer a i{
    font-size: 26px;
    background: #ffffff;
    color: #09244B;
    padding: 12px 15px;
    border-radius: 6px;
    margin-right: 30px;
}
/****footer css end****/




